<meta name="viewport" content="width=768">
<div class="card-container">
  <span class="pro">Aktif</span>
  <img class="round" src="https://scontent.fkul14-1.fna.fbcdn.net/v/t1.0-9/80656538_10157075859808121_6135909060681138176_n.jpg?_nc_cat=100&ccb=2&_nc_sid=09cbfe&_nc_ohc=mmYvPJjguKIAX_n67nB&_nc_ht=scontent.fkul14-1.fna&oh=049d0adee1553f4c5340edf487124352&oe=6029DA7D" alt="user" weight="200" height="200" />
  <b><h4 style="text-transform: uppercase; margin-top: 10px">Mohd Mustakhim Bin Noor Rehan</h4></b>
  <h6 style="text-transform: uppercase; margin-top: 10px">PTNS-4412</h6>
  <p>Ahli dari <%= Date.today.strftime('%d-%b-%y') %></p>
  <div class="buttons">
    <button class="primary">
      Ahli Biasa
    </button>
  </div>
  <div class="skills">
    <h6>Skills</h6>
    <ul>
      <li>UI / UX</li>
      <li>Front End Development</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>React</li>
      <li>Node</li>
    </ul>
  </div>
</div>
<br>
<div class="card-container" style="background-color:">
  
  
    
    <div style="background-color: white; padding-top: 20px; padding-bottom: 20px; margin-left: 150px; margin-right: 150px"><%= @svg.html_safe %></div>
  
  <b><h4 style="text-transform: uppercase; margin-top: 10px">Mohd Mustakhim Bin Noor Rehan</h4></b>
  <h6 style="text-transform: uppercase; margin-top: 10px">PTNS-4412</h6>
  <p>Ahli dari <%= Date.today.strftime('%d-%b-%y') %></p>
  <div class="buttons">
    <button class="primary">
      Ahli Biasa
    </button>
  </div>
  <div class="skills">
    <h6>Skills</h6>
    <ul>
      <li>UI / UX</li>
      <li>Front End Development</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>React</li>
      <li>Node</li>
    </ul>
  </div>
</div>
</meta>

