<section class="pricing py-5">
    <div class="container">
      <div class="row">

        <!-- Ahli Biasa -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Ahli Biasa</h5>
              <h6 class="card-price text-center">RM10<span class="period">/setahun</span></h6>
              <hr>
              <ul class="fa-ul">
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Terbuka kepada semua warganegara Malaysia</li>
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Berumur 18 tahun dan ke atas</li>
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Adalah pemilik, pengurus, pendidik, penasihat dan <b>BERTUGAS</b> di mana-mana TASKA yang sah <b>BERDAFTAR</b> di Selangor</li>
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Layak Memegang Jawatan</li>
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Layak Mengundi</li>
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Perlu diperbaharui setiap tahun</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              </ul>
              <a href="daftarahli?tp=AHLI BIASA&id=<%= params[:id] %>" class="btn btn-block btn-primary text-uppercase">Daftar</a>
            </div>
          </div>
        </div>

        <!-- Ahli Seumur Hidup -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Ahli Seumur Hidup</h5>
              <h6 class="card-price text-center">RM100<span class="period">sekali</span></h6>
              <hr>
              <ul class="fa-ul">
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Terbuka kepada semua warganegara Malaysia</li>
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Berumur 18 tahun dan ke atas</li>
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Adalah pemilik, pengurus, pendidik, penasihat dan <b>BERTUGAS</b> di mana-mana TASKA yang sah <b>BERDAFTAR</b> di Selangor</li>
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Layak Memegang Jawatan</li>
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Layak Mengundi</li>
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Perlu diverifikasi setiap tahun</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              </ul>
              <a href="daftarahli?tp=AHLI SEUMUR HIDUP&id=<%= params[:id] %>" class="btn btn-block btn-primary text-uppercase">Daftar</a>
            </div>
          </div>
        </div>

        <!-- Ahli Institusi -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Ahli Institusi</h5>
              <h6 class="card-price text-center">RM50<span class="period">/setahun</span></h6>
              <hr>
              <ul class="fa-ul">
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Terbuka kepada mana-mana organisasi yang berdaftar secara sah di Selangor</li>
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Organisasi boleh menghantar tidak lebih dari dua (2) wakil bagi menghadiri aktiviti Pertubuhan</li>
                <li class="text-muted" style="text-align: justify"><span class="fa-li"><i class="fas fa-times"></i></span>Tidak Layak Memegang Jawatan</li>
                <li class="text-muted" style="text-align: justify"><span class="fa-li"><i class="fas fa-times"></i></span>Tidak Layak Mengundi</li>
                <li style="text-align: justify"><span class="fa-li"><i class="fas fa-check"></i></span>Perlu diperbaharui setiap tahun</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              </ul>
              <a href="daftarahli?tp=AHLI INSTITUSI&id=<%= params[:id] %>" class="btn btn-block btn-primary text-uppercase tryclick" id="tryclick">Daftar</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>