
<div class="container bg-light">
<% if @exs %>
  <button class="btn btn-sm btn-block btn-success" style="margin-bottom: 5px">Aktif</button>
 <%= render 'ptns_mmbs/mmbcard'%>
 
 

<% else %>
  <h5>Sila Pilih Jenis Keahlian</h5>
  <%= render 'ptns_mmbs/mmbtype'%>
<% end %>
</div>
