<div class="container" style="background-color: #00004c; margin-bottom: 2px; text-align: center; position: ">
  <font style="color:white; font-size: 25px">Pendaftaran <%= params[:tp] %></font>
  &nbsp&nbsp&nbsp
  
</div>

<%= link_to checkmmb_path(icf: params[:icf]), class: "badge badge-secondary shadow-sm", style: "font-size: 14px; font-weight: normal; margin-bottom: 10px" do %>
      <i class="fa fa-arrow-circle-left"></i> Pilih Semula Jenis Keahlian
  <% end %>

<%= render 'ptns_mmbs/form' %>