<div class="container" style="background-color: #00004c; margin-bottom: 2px; text-align: center; position: ">
  <font style="color:white; font-size: 20px">Kemaskini Maklumat Ahli</font>
  &nbsp&nbsp&nbsp
</div>

<%= link_to checkmmb_path(icf: @ptnsmmb.icf), class: "badge badge-secondary shadow-sm", style: "font-size: 14px; font-weight: normal; margin-bottom: 10px" do %>
      <i class="fa fa-arrow-circle-left"></i> Kembali
  <% end %>

<%= render 'ptns_mmbs/form' %>